@{
    Layout = "_Root.Head";

}

@* QUIMS EDIT *@

<div class="header-menu IntroHeader">
    @*Catogery menu*@
    @await Component.InvokeAsync("TopMenu")
</div>

@* Quims edit *@

<div class="Intro">

    <div class="IntroOne">

        <div class="IntroImg"></div>

    </div>

    @await Component.InvokeAsync("LanguageSelectorIntro")


</div>

@* Quims edit *@

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")


<div class="master-wrapper-page">

    @await Component.InvokeAsync("AdminHeaderLinks")

    <script asp-location="Footer">
        var localized_data = {
            AjaxCartFailure: "@T("AjaxCart.Failure")"
        };
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart', localized_data);
    </script>



    <div class="IntroEmpty">    @RenderBody()  </div>


</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
