@model Nop.Plugin.Widgets.SideShoppingCart.Models.PublicInfoModel
@{
    Layout = "";

    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
    //Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css");
    //Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/custom/custom.css");
}

<h1>SIDE SHOPPING CART</h1>
<p>@Model.Item</p>
